<div class="container" style="padding-top: 120px;">
    <h3>Equipo</h3>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem numquam pariatur tempora fugiat officia nemo reiciendis similique consequatur facilis eum tenetur amet incidunt nam eius molestias earum deserunt, enim repellat!
    </p>
    <div class="row">
        <div class="col-4">
            <img class="img-fluid" src="assets/img/silueta.jpeg">
            <br>
            Nonbre y Apellido
        </div>
        <div class="col-4">
            <img class="img-fluid" src="assets/img/silueta.jpeg">
            <br>
            Nonbre y Apellido
        </div>
        <div class="col-4">
            <img class="img-fluid" src="assets/img/silueta.jpeg">
            <br>
            Nonbre y Apellido
        </div>
        <div class="col-4">
            <img class="img-fluid" src="assets/img/silueta.jpeg">
            <br>
            Nonbre y Apellido
        </div>
        <div class="col-4">
            <img class="img-fluid" src="assets/img/silueta.jpeg">
            <br>
            Nonbre y Apellido
    </div>
</div>

